@import url(http://fonts.googleapis.com/css?family=Kreon:300,400,700|Lobster+Two:700italic|Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Kreon:300,400,700|Oswald:400,300,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

@font-face {
  font-family: 'IntroRust';
  font-style: normal;
  src: url(../fonts/IntroRust-Regular.otf);
}

div.slides img {
	background-color: transparent;
	box-shadow: none;
	border: none;
}

body {
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/background.jpg')
}

.reveal h1,
.reveal h2,
.reveal h3 {
	font-family: 'Kreon', serif;
}

.reveal h4 {
	font-family: 'Lobster Two', cursive;
	font-style: italic;
	text-transform: none;
	color: #378BBA;
    text-shadow: 5px 5px 5px #111111;
    font-size: 1.3em
}

.reveal .larger {
    font-size: 1.7em;
}

.reveal {
	/*font-family: 'Lobster Two', cursive;*/
	
	font-family: 'Oswald', sans-serif;
}

.reveal .note {
	text-align: left;
	margin-left: 20px;
    text-transform: none;
}

.reveal .accent {
	font-size: 160%;
	color: #378BBA;
}

.reveal .accentYellow {
    color: #FF9618;
    font-size: 160%;
}

.reveal .yellow {
    color: #FF9618;
}

.reveal .altHeader {
	font-family: 'Lobster Two', cursive;
	font-style: italic;
	text-transform: none;
	color: #378BBA;
	text-shadow: 5px 5px 5px #111111;
}

.reveal .shadow {
    text-shadow: 5px 5px 5px #111111;
}

.reveal .footnote {
    font-size: 50%;
}

.reveal ul {
    list-style: none;
    padding: 0;
}

.reveal ul li {
    padding-left: 1.3em;
}

.reveal ul li:before {
    content: "\f14a";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

.reveal .introrust {
    font-family: IntroRust;    
    text-shadow:  5px 5px 5px #111111;
}

.reveal .progress {
    height: 10px;
}